doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Planys Technologies
    link(href='../../stylesheets/bootstrap.css', rel='stylesheet')
    link(href='../../stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img.tech(src='../../images/planys-logo.png', alt='Planys Technologies')
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#defects') Defects&Analysis
            li
              a(href='#cad') CAD
            li
              a(href='#inspect') Inspection Videos
            li
              a(href='#observation') Observations
            li.list
              p
                a(href='#howto')
                  span.glyphicon.glyphicon-info-sign
                | How-to
            li.unlist
              p
                a(href='#about')
                  span.glyphicon.glyphicon-globe
                | About Planys Technologies
    .container
      .starter-template
        h1 Planys Technologies
        p.lead
          | India’s first and only manufacturer of compact ROVs providing inspection and survey solutions
          br
          |  All you get is this text and a mostly barebones HTML document.
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='javascripts/bootstrap.js')
